<launch>
    <rosparam>
        world_frame: "world_frame"
        sensor1_frame: "sensor1_frame"
        sensor2_frame: "sensor2_frame"
        sensor3_frame: "sensor3_frame"
        sensor4_frame: "sensor4_frame"

        sensor1_topic: "/sensor1_os_cloud_node/points"
        sensor2_topic: "/sensor2_os_cloud_node/points"
        sensor3_topic: "/sensor3_os_cloud_node/points"
        sensor4_topic: "/sensor4_os_cloud_node/points"

        ## exact/approx/simple
        sync_policy: "approx"
    
        ## octree/voxelgrid/none
        downsample_filter: "none"
        voxel_leaf_size: 0.01

        ## passthrough/none
        resize_filter: "passthrough"
        
        x_filter_min: -2.1
        x_filter_max: 2
        y_filter_min: -2.4
        y_filter_max: 3
        z_filter_min: -2
        z_filter_max: 1
        
        save_pcd: true
        save_interval: 5
        save_path: "output/1024"
    </rosparam>

    <node name="sync_node" pkg="perception_pipeline" type="sync_node" output="screen">
    </node>

    <node name="perception_node" pkg="perception_pipeline" type="perception_node" output="screen">
    </node>

    <node name="static_transforms" pkg="perception_pipeline" type="static_transforms" output="screen">
        <rosparam file="$(find perception_pipeline)/config/transforms.yaml" />
    </node>

</launch>
