<launch>

    <arg name="prefix" default="/home/charith/storage/LIDAR-DATA/bedroom2" />
    <arg name="file_1" default="/pos1/pos1.bag" />
    <arg name="file_2" default="/pos2/pos2.bag" />
    <arg name="file_3" default="/pos3/pos3.bag" />

    <node pkg="rosbag" type="play" name="sensor1_playback" output="screen" 
    args="--clock -l $(arg prefix)$(arg file_1) /os_cloud_node/points:=/env/sensor1/points"/>

    <node pkg="rosbag" type="play" name="sensor2_playback" output="screen" 
    args="--clock -l $(arg prefix)$(arg file_2) /os_cloud_node/points:=/env/sensor2/points"/>

    <node pkg="rosbag" type="play" name="sensor3_playback" output="screen"
    
    args="--clock -l $(arg prefix)$(arg file_3) /os_cloud_node/points:=/env/sensor3/points"/>

    <remap from="/different_topic" to="/needed_topic"/>

    <!-- add dashdash clock -->
    <!-- use dashdash-hz=1 to throttle -->

</launch>