<launch>
    <node name="transform_node" pkg="perception_pipeline" type="transformpipe_node" output="screen">
        <rosparam>
            world_frame: "world_frame"

            sensor1_frame: "sensor1_frame"
            sensor2_frame: "sensor2_frame"
            sensor3_frame: "sensor3_frame"
            sensor4_frame: "sensor4_frame"

            sensor1_topic: "/sensor1_os_cloud_node/points"
            sensor2_topic: "/sensor2_os_cloud_node/points"
            sensor3_topic: "/sensor3_os_cloud_node/points"
            sensor4_topic: "/sensor4_os_cloud_node/points"

            <!-- octree/voxelgrid/none -->
            downsample_filter: "none"
            voxel_leaf_size: 0.1

            <!-- passthrough/none -->
            resize_filter: "none"
            
            x_filter_min: -5
            x_filter_max: 5
            y_filter_min: -5
            y_filter_max: 5
            z_filter_min: -5
            z_filter_max: 1.2
            
            save_pcd: false
            save_interval: 2
            save_path: "output/1024"
        </rosparam>
    </node>
    <node name="static_transforms" pkg="perception_pipeline" type="static_transforms" output="screen">
        <rosparam file="$(find perception_pipeline)/config/transforms.yaml" />
    </node>
</launch>
